* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

select:focus {
    outline: none;
}

.nut form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-right: 6px solid black;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 3px;
    position: relative;
    z-index: 2;
}

.nut select {
    border-radius: 100%;
    border: 2px solid black;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 35px;
    width: 35px;
    padding: 5px;
    font-weight: bold;
}

.neck {
    border: 1px solid grey;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.fret {
    border-right: 2px solid grey;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.string {
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.string::after {
    content: '';
    display: flex;
    transform: translateY(50%);
    z-index: 1;
    width: 100%;
    background-image: linear-gradient(grey,lightgrey);
    box-shadow: 0 0 3px grey;
    position: absolute;
}

.string:nth-child(1):after {
    height: 1px;
}

.string:nth-child(2):after {
    height: 2px;
}

.string:nth-child(3):after {
    height: 3px;
}

.string:nth-child(4):after {
    height: 4px;
}

.string:nth-child(5):after {
    height: 5px;
}

.string:nth-child(6):after {
    height: 6px;
}

.note {
    height: 30px;
    width: 30px;
    background-color: black;
    z-index: 2;
    color: white;
    padding: 5px;
    border-radius: 100%; 
    display: none;
}

.note.keyNote {
    background-color: red;
}

.note.relativeKey {
    background-color: darkblue;
}

.note.active {
    display: block;
}

.fret:nth-of-type(4)::after,
.fret:nth-of-type(6)::after,
.fret:nth-of-type(8)::after,
.fret:nth-of-type(10)::after,
.fret:nth-of-type(16)::after,
.fret:nth-of-type(18)::after,
.fret:nth-of-type(20)::after,
.fret:nth-of-type(22)::after {
    content: '';
    position: absolute;
    background-color: grey;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    display: flex;
    top: 50%;
    align-self: center;
}

.fret:nth-of-type(13)::after {
    content: '';
    position: absolute;
    background-color: grey;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    display: flex;
    top: 30%;
    align-self: center;
}

.fret:nth-of-type(13)::before {
    content: '';
    position: absolute;
    background-color: grey;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    display: flex;
    bottom: 30%;
    align-self: center;
}

.copy-disabled {
    user-select: none;
}